*{
  padding: 0;
  margin: 0;
  border: 0;
  margin: 0 auto;
  
}

:root {
  font-size: 62.5%;
}

body{
  text-align: center;
  background: #EFF1FF;
  

  
}
h1, h2{
  font-family: Staatliches;
  font-weight: 400;
}

header img{
  margin-top: 3.2rem;
  margin-bottom: 2.6rem;
}
h1 {
  
  padding-bottom: 5rem;
  font-size: 4rem;
  line-height: 34px;
  font-weight: 400;
  color: white;
  position: relative;
}
.line{
  border: 2.45rem solid #CBC0D3;;
  position: absolute;
  
  width: 100%;
  top: 20.1rem;
}

p{
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  width: 30.5rem;

  margin-bottom: 6.3rem;
}

header{
  position: relative;
}
header::before{
  content:'';
  background: #8E9AAF;
  width: 100%;
  display: block;
  height: 27.9rem;
  position: absolute;
  z-index: -1;
  
}



.img p{
  background: #FEEAFA;
  border-radius: 20px;
  width: 11.2rem;
  height: 3.5rem;
  text-align: center;
  color: hsla(232, 17%, 35%, 1)  ;
  position: absolute;
  font-family: Staatliches;
  font-weight: 400;
  top: 1.6rem;
  right: 1.6rem;
  top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: texto 0.7s ease-in-out;
  
  
}
.img {
  position: relative;
  max-width: 32rem;
  min-width: 20rem;
  margin-bottom: 3.6rem;
  animation: imagem 0.7s ease-in-out;
  
}



@keyframes imagem {
  from {
    
    transform: translateY(35px);
  }

  to {
    transform: translateY(0px);
  }
  
  }

  @keyframes texto {
    0% {
    
      transform: translateY(-70px);
      
    }


    100%{
      transform: translateY(0px);
    }
  }

